@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-3">VGG Task</h1>
    <p>My name is Ayo.</p>
    <p>The time on the server is @DateTime.Now</p>
</div>
